* {
	text-align:left !important;
	font-family: Verdana;
	}
a,a:link,a:visited,a:link:visited {
	text-decoration:none !important;
	border-bottom:1px dotted silver !important;
	}
a:link:hover,
a:hover {
	border-bottom:1px solid red !important;
	}
a img,
a:link img,
a:visited img,
a:link:visited img {
	border:0;
	padding:0;
	margin:0;
	}	

img { border:0; margin:0; padding:0; margin-bottom:-4px !important; }

#sidebar {
	font-size: 10px;
	font-family: Verdana;
	word-spacing: -0.15em;
	line-height: 13px;
}
.alpha *,
.beta * {
	margin:2px !important;
}

.alpha h2,
.beta h2 {
	margin-left:8px !important;
	margin-top:6px !important;
	font-size:11px !important;
}
/*   YEP   */
li.widget ul a:before {
	content:'\BB\20';
}
li.widget {
	line-height:15px;
}
li.widget ul a {
	text-indent:-18px !important;
	margin-left:2px !important;
	margin-bottom:4px !important;
}

table#wp-calendar tr th {
	background-color:#d8d8d8;
	border-right:2px solid #fff;
	text-align:center !important;
}
table#wp-calendar tr td {
	text-align:center !important;
	background-color:#eee;
	border-right:1px solid #fff;
	border-top:1px solid #fff;
}
table#wp-calendar tr td a {
	display:block;
	font-weight:bold;
	background-color:silver;
	text-align:center !important;
	color:red !important;
}

p.postmetadata {
	font-size:10px !important;
}
h1 a:link,
h1 a:visited,
h1 a:link:visited,
h1 a {
	border:0 !important;
	text-decoration:none !important;
	font-family:Verdana,'Verdana',sans-serif;
	word-spacing: -0.15em;
}
h1 a:hover {
 color:red !important;
}
h2.pagetitle {
  margin:14px;
  margin-bottom:-8px;
  font-size:14px;
  font-family: Verdana;
  word-spacing: -0.15em;
  text-transform:uppercase;
  color:#d00;
}
div.description img {
 padding-bottom:4px !important;
}

div#content a:link,
div#content a:visited,
div#content a:link:visited,
div#content a {
	color:red !important;
}